
body{background:url(../img/Reset.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0px;
    padding: 0px;
}

.login-box{
    width: 300px;
    height: 450px;
    padding: 30px;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    text-align: left;
    color: black;
    box-sizing: border-box;
}
.admin {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    top: -15%;
    left: 33%;
    position: absolute;
}

.login-box h2 {
    color: black;
    font-family: fantasy;
    text-transform: uppercase;
    font-weight: 200;
    text-align: center;
    font-size: 20px;
}

.login-box p{
    margin: 3px;
    font-weight: bold;
    text-align: left;
}


.form-control{    
    border: none;
    border-bottom: 3px solid #dc0aef;
    TEXT-ALIGN:left;
    BACKGROUND: transparent;
    width: 100%;
    margin-bottom: 10px;
    padding: 3px;
    color: black;
    font-size: 15px;
    transition: 0.4s ease-in-out;
}

.form-control:hover{
    width: 200px;
    border-color: skyblue;
}

.submit-btn {
    HEIGHT: 35px;
    WIDTH: 40%;
    border: 2px solid #0fd2178c;
    border-radius: 20px;
    margin: 10PX 75px;
    PADDING: 0PX 20px;
    TEXT-ALIGN: CENTER;
    text-transform: uppercase;
    BACKGROUND: blue;
    font-size: 15px;
    outline: none;
    color: white;
    cursor: pointer;
    transition: 0.4s ease-in-out;
    font-family: ui-monospace;
}

.submit-btn:hover {
    box-shadow: 4px 4px 10px royalblue ;
}

.webpage {
    color: #c7261b;
    display: block;
    text-align: center;
    margin: 0px auto;
    font-size: 20px;
    font-family: 'Noto Sans SC', sans-serif;
}
